.web-iv-proj-section {
  text-align: center;
}

#proj-languages {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  margin: 5px;
  padding: 6px;
  border: 3.5px solid transparent;
  background-image: linear-gradient(white, white), 
    linear-gradient(to right, #88c1c0, #fd9db6);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

body.dark-mode #proj-languages {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  margin: 5px;
  padding: 6px;
  border: 3.5px solid transparent;
  background-image: linear-gradient(black, black), 
    linear-gradient(to right, #88c1c0, #fd9db6);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

#proj-languages:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.github-button, .gitlab-button {
  width: 38px;
  height: 38px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 8px;
  border-radius: 20px;
}

.github-button:hover, .gitlab-button:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

h3 {
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

.outer-section {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.outer-section:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

@media only screen and (max-width: 768px) {
  .web-iv-proj-section {
    text-align: center;
    margin: 0.5em;
    padding: 0.8em;
  }

  #proj-languages {
    font-size: 12px;
    padding: 1px;
    margin: 6px;
    border: 1px solid transparent;
  }

  .github-button {
    width: 30px;
    height: 30px;
  }

  .gitlab-button {
    width: 30px;
    height: 30px;
  }

  h3 {
    font-size: 22px;
  }
}
